@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Quicksand:wght@300;500&family=Staatliches&display=swap');

body {
    background-color: #304352;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    margin: 0;

}

.cabecalho {
    background-image: linear-gradient(to left, #d7d2cc 0%, #304352 100%);
    text-align: left;
    padding-top: 15px;
    border-bottom: 30px solid #d7d2cc;
}

#titulo-principal {
    font-family: 'Staatliches', cursive;
    color: #ECECEC;
    padding-left: 20px;
    font-size: 4rem;
    margin: 0;
    height: 40px;
    display: flex;
}

.redes {
    display: flex;
    width: 30px;
    height: 30px;
}

.links {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.inserir-conteudo {
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.inserir-filmes {
    display: flex;
    flex-flow: column wrap;
    align-self: center;
    width: 100px;
}

h1 {
    color: #e9e9e9;
    text-shadow: 1px 1px 1px black;
}

.novo-filme {
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 5px;
    outline: none;
    border-style: none;
    box-shadow: 1px 1px 1px #222831;
    font-size: 0.9rem;
}

input::placeholder {
    color: #30475e79;
    font-style: italic;
}


#botao-adc {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 18px;
    background-image: linear-gradient(-225deg, #243949 0%, #B8DCFF 48%, #517fa4 100%);
    color: black;
}

#botao-adc:hover {
    background-image: linear-gradient(-225deg, #517fa4 0%, #243949 48%, #517fa4 100%);
    color: #e9e9e9;
    transition: 0.3s;
}

#botao-rmv {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

#botao-rmv:hover {
    background-color: #C84B31;
    color: #ECECEC;
    transition: 0.3s;
}

.lista-filmes {
    margin-left: 80px;
    margin-right: 80px;
    flex-direction: row;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    overflow: auto;
}

.filme {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 2;
}

.imagem-filme {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 2;
}

.imagem-filme:hover {
    transform: scale(1.1);
}

.banner-filme {
    margin-top: 15px;
    margin-left: 8px;
    width: 232px;
    height: 290px;
    border-radius: 10px;
}

.nome-filme {
    margin-left: 8px;
    width: 232px;
    height: 50px;
    color: #e9e9e9;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 22px;
}

footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    margin-top: 120px;
}